flask==2.3.3
plotly
bitsandbytes
transformers
sentence-transformers
datasets
accelerate
openai
anthropic
google-generativeai
gradio
gensim
modal
ollama
psutil
setuptools
speedtest-cli
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
faiss-cpu
feedparser
twilio
pydub
requests==2.31.0
pandas==2.1.1
numpy==1.26.0
sqlalchemy==2.0.21
pytest==7.4.2
beautifulsoup4==4.12.2
markdown==3.4.4
openai==0.28.0